.logo {
	display: flex;
	flex-direction: column;
}

.logo__name {
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
}

.logo__profa {
	margin-top: 4px;
	font-size: 14px;
	line-height: 14px;
}

.header {
	padding: 8px 0;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	position: fixed;
	width: 100vw;
}