$module: 8px;
$s-xxs: calc($module/4);
$s-xs: calc($module/2);
$s-1: calc($module);
$s-2: calc($module*2);
$s-3: calc($module*3);
$s-4: calc($module*4);
$s-5: calc($module*5);
$s-6: calc($module*6);
$s-7: calc($module*7);
$s-8: calc($module*8);
$s-9: calc($module*10);
$s-10: calc($module*15);


.mt-10 {
	margin-top: calc($s-10 / 4) ;
	@media (min-width: 768px) {
		margin-top: calc( $s-10 / 2) ;
	}
	@media (min-width: 1200px) {
		margin-top: $s-10;
	}
}

.mt-9 {
	margin-top: calc($s-9 / 4) ;
	@media (min-width: 768px) {
		margin-top: calc( $s-9 / 1) ;
	}
	@media (min-width: 1200px) {
		margin-top: $s-9;
	}
}

.mt-8 {
	margin-top: calc($s-8 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-8 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-8;
	}
}

.mt-7 {
	margin-top: calc($s-7 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-7 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-7;
	}
}

.mt-6 {
	margin-top: calc($s-6 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-6 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-6;
	}
}

.mt-5 {
	margin-top: calc($s-5 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-5 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-5;
	}
}

.mt-4 {
	margin-top: calc($s-4 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-4 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-4;
	}
}

.mt-3 {
	margin-top: calc($s-3 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-3 / 2);
	}
	@media (min-width: 1200px) {
		margin-top: $s-3;
	}
}

.mt-2 {
	margin-top: calc($s-2 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-2 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-2;
	}
}

.mt-1 {
	margin-top: calc($s-1 / 4);
	@media (min-width: 768px) {
		margin-top: calc($s-1 / 1);
	}
	@media (min-width: 1200px) {
		margin-top: $s-1;
	}
}



@media (min-width: 768px) {
	.mt-md-8 {
			margin-top: calc($s-8 / 1);
		@media (min-width: 1200px) {
			margin-top: $s-8;
		}
	}
}